/*
Font: 		Monocle
Style: 		Bold
URL: 		http://www.youworkforthem.com/font/T1379/monocle
Foundry: 	Reserves
Foundry: 	http://www.youworkforthem.com/designer/232/reserves
Copyright:	Copyright 2009 Reserves. http://www.reservesca.com Administration Contact: info@reservesca.
Version: 	1.5
Created:	July 02, 2014
License: 	http://www.youworkforthem.com/font-license 
License: 	The WebFont(s) listed in this document must follow the YouWorkForThem
			WebFont license rules. All other parties are strictly restricted 
			from using the WebFonts(s) listed without a purchased license. 
			All details above must always remain unaltered and visible in your CSS.
*/

@font-face {
	font-family: 'Monocle-Bold';
	src: url('monocle-bold.eot');
	src: url('monocle-bold.eot?#iefix') format('embedded-opentype'),
	     url('monocle-bold.woff') format('woff'),
	     url('monocle-bold.ttf') format('truetype'),
	     url('monocle-bold.svg#ywftsvg') format('svg');
	font-weight: normal;
	font-style: normal;
}
