@import "compass/reset";

/** Colors **/
$lightGray: #D9DAD7;
$darkBlue: #171D26;
$lightDarkBlue: #3F6375;
$turquoise: #34CCB0;

/** Stitch em up. **/
@import "partials/fonts";
@import "partials/mediaqueries";
@import "partials/page";