
@font-face {
	font-family: 'Monocle-Bold';
	src: url('../fonts/monocle-bold.eot');
	src: url('../fonts/monocle-bold.eot?#iefix') format('embedded-opentype'),
	     url('../fonts/monocle-bold.woff') format('woff'),
	     url('../fonts/monocle-bold.ttf') format('truetype'),
	     url('../fonts/monocle-bold.svg#ywftsvg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Monocle-Light';
	src: url('../fonts/monocle-light.eot');
	src: url('../fonts/monocle-light.eot?#iefix') format('embedded-opentype'),
	     url('../fonts/monocle-light.woff') format('woff'),
	     url('../fonts/monocle-light.ttf') format('truetype'),
	     url('../fonts/monocle-light.svg#ywftsvg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Monocle-Regular';
	src: url('../fonts/monocle.eot');
	src: url('../fonts/monocle.eot?#iefix') format('embedded-opentype'),
	     url('../fonts/monocle.woff') format('woff'),
	     url('../fonts/monocle.ttf') format('truetype'),
	     url('../fonts/monocle.svg#ywftsvg') format('svg');
	font-weight: normal;
	font-style: normal;
}

* {
	font-variant-ligatures: no-common-ligatures;
	-webkit-font-variant-ligatures: no-common-ligatures;
	//-webkit-font-feature-settings:"liga" 0;
	font-feature-settings:"liga" 0;
	text-rendering: optimizeSpeed;
}