html,body {
	height:100%;
	background-color:$turquoise;
}
* {
	box-sizing:border-box;
}
.container-fluid {
	height:100%;
}
.content {
	height:100%;
}

$topPer:40%;
$topPad:40%;
$midPer:35%;
$btmPer:25%;


/**
 _                     _ _
| |                   | (_)
| |__  _____ _____  __| |_ ____   ____
|  _ \| ___ (____ |/ _  | |  _ \ / _  |
| | | | ____/ ___ ( (_| | | | | ( (_| |
|_| |_|_____)_____|\____|_|_| |_|\___ |
                                (_____|
**/

.heading {
	height:465px;

	@include sm {
		height:430px;
	}

	@include md {
		height:100%;
	}

	.page-modal {
		visibility:hidden;
		opacity:0;
		transition:all .3s ease;
		transform:scale(.8,.5);
		transform-origin:20% bottom;

		.modal-container {
			transform-origin:center bottom;
			transition:all .5s ease;
			transform:scale(.8, .5);
		}

		&.active {
			visibility:visible;
			opacity:1;
			transform:scale(1,1);
			.modal-container {
				transform:scale(1, 1);
			}
		}

		z-index:3;
		position:absolute;
		width:100%;
		background:$lightDarkBlue;
		color:$lightBlue;
		display:table;
		font-size:.8em;
		@include md {
			font-size:1em;
		}

		.close-btn {
			cursor:pointer;
			position:absolute;
			right:20px;
			z-index:3;
			width:35px;

			.facade {
				position:absolute;
				width:30px;
				height:30px;
			}
			.front {
				top:0;
				left:0;
				background-color:$turquoise;
				z-index:2;
				img {
					margin-left:22%;
					margin-top:22%;
					width:50%;
					height:50%;
				}
			}
			.back {
				height:35px;
				top:0;
				left:5px;
				background-color:$darkBlue;
				z-index:1;
			}
		}
		.modal-container {
			height:100%;
			display:table-cell;
			vertical-align:middle;
		}
		&:after {
			top: 100%;
			left: 15%;
			border: solid transparent;
			content: " ";
			height: 0;
			width: 0;
			position: absolute;
			pointer-events: none;
			border-color: rgba(136, 183, 213, 0);
			border-top-color: $lightDarkBlue;
			border-width: 10px;
			margin-left: -10px;
		}

		span.white {
			color:$lightGray;
			font-weight:600;
		}
	}

	.method-modal {
		height:($topPer + $midPer) * .95;
		@include sm {
			height:($topPer + $midPer) * .9;
		}
		@include md {
			height:($topPer + $midPer) * .95;
		}
		p {
			margin-bottom:20px;
		}
	}

	.live-modal {
		height:$topPer * .95;
	}

	background-color:$darkBlue;
	font-family: 'Source Sans Pro', sans-serif;
	font-weight:300;
	color:$lightDarkBlue;

	line-height:1.2em;
	@include md {
		line-height:1.5em;
	}

	.heading-content {
		height:100%;
	}

	.logo-text {
		position:relative;
		height:180px;

		@include md {
			//border:1px solid #FF0000;
			height:$topPer;
			padding-top:$topPad * .4;
		}

		.logo {
			position:relative;
			max-width:100%;
			height:auto;
			margin-top:20px;

			@include sm {
				//border: 1px solid #0000FF;
				max-width:60%;
				margin-left:auto;
				margin-right:auto;
			}

			@include md {
				max-width:100%;
				margin-left:0;
				margin-right:0;
				//border:1px solid #FF0000;
			}

			@include lg {
				//border: 1px solid #00FF00;
			}



			svg {
				//opacity:0;
				max-width:88%;
				height:auto;
				height:100%;
			}

			ul {
				position:absolute;
				z-index:2;
				bottom:30%;
				left:64%;

				li {

					span {
						margin:0;

						font-family:'Monocle-Bold', sans-serif;
						@include sm {
							font-family:'Monocle-Regular', sans-serif;
						}
						background-color:$lightDarkBlue;
						color:$darkBlue;
						text-transform:uppercase;

						font-size:.7em;
						font-size:2.5vw;

						@include md {
							font-size:.7em;
						}

						@include lg {
							font-size:1em;
						}
					}
				}
			}
		}
	} //end .logo-text

	.explain {
		margin-top:20px;
		height:140px;
		@include sm {
			height:80px;
		}
		// @include md {
		// 	margin-top:50px;
		// 	height:250px;
		// }
		@include md {
			margin-top:0;
			height:$midPer;
		}
		position:relative;
		p.explain-line-1 {
			font-weight:600;
			font-size:1.1em;
			a {
				color:$lightGray;
				cursor:pointer;
				transition:color .3s ease;
				&:hover, &.active {
					color:$turquoise;
					text-decoration:none;
				}
			}
		}
		p.explain-line-2 {
			margin-top:20px;
			font-size:$copySize;
		}
	}


	.method-button {
		margin-top:30px;

		@include md {
			margin-top:0;
			height:$btmPer;
		}

		.button {
			font-family:'Monocle-Bold', sans-serif;
			text-align:center;
			border:3px solid $turquoise;
			color:$turquoise;
			padding:14px 0 9px 0;
			cursor:pointer;
			transition:background .3s;
			&:hover, &.active {
				background:$turquoise;
				color:$darkBlue;
			}
		}
	}

}

/**
             _
            (_)
 ____  _____ _ ____
|    \(____ | |  _ \
| | | / ___ | | | | |
|_|_|_\_____|_|_| |_|

**/
.main {
	height:100%;
	background-color:$turquoise;

	@include md {
		//height:100%;
		overflow:hidden;
	}

	.main-content {
		height:100%;
		transition:margin .4s ease;
		background-color:$lightGray;

		&.showingRabbits {
			margin-top:-600px;
		}
	}

	h1 {
		//border:1px solid #FF0000;
		font-family:'Monocle-Bold', sans-serif;
		color:$lightDarkBlue;

		line-height:1.6em;

		height:140px;
		@include sm {
			height:240px;
		}
		@include md {
			height:$topPer;
		}


		padding-top:30px;
		@include sm {
			padding-top:70px;
		}
		@include md {
			padding-top:0;
		}


		font-size:1.3em;
		@include sm {
			font-size:2em;
		}
		@include md {
			font-size:2em;
		}
		@include lg {
			font-size:2.5em;
		}

		p.heading-1 {
			margin-top:$topPad * .4;
		}

	}

	.properties {
		//border:1px solid #00FF00;
		height:550px;

		@include sm {
			height:250px;
		}
		@include md {
			height:$midPer;
		}
		li {
			height:175px;
			margin-bottom:20px;
			padding:0;
			dl {
				dt {
					font-family:'Monocle-Bold', sans-serif;
					color:$darkBlue;
					z-index:1;
					position:absolute;
					opacity:0;
				}
				dd.img {
					width:100px;
					z-index:0;
					position:absolute;
					left:-25px;
					top:-30px;
				}
				dd.details {
					opacity:0;
					z-index:1;
					position:absolute;
					top:20px;
					margin-top:10px;
					font-family: 'Source Sans Pro', sans-serif;
					font-weight:300;
					color:$lightDarkBlue;
					font-size:.8em;
					line-height:1.3em;
					padding-right:20px;
					@include lg {
						line-height:1.5em;
					}
				}
			}
		}
	} //end properties




	.contact {
		//border:1px solid #0000FF;
		font-family: 'Source Sans Pro', sans-serif;
		//margin-top:20px;
		font-size:.8em;
		color:$darkBlue;
		@include md {
			height:$btmPer;
		}
		.line-piece {
			margin-bottom:20px;
			width:35px;
			height:4px;
			background-color:$darkBlue;
		}

		h2 {
			font-weight:600;
			font-size:1.1em;
		}

		a{
			color:$darkBlue;
			transition:color .4s ease;

			&:hover {
				color:#FFF;
				text-decoration:none;
			}
		}

		a.email {
			color:$turquoise;
			text-decoration:none;
			&:hover {
				color:#FFF;
			}
		}
	} //end .contact

	.meet-button {
		.row {
			height:100%;
		}
		cursor:pointer;
		margin-top:20px;
		@include sm {
			margin-top:0;
		}

		@include md {
			//border: 1px solid #00FF00;
			height:$btmPer;
		}

		.meet-logo {
			//border:1px solid #FF0000;
			height:90%;
			svg {
				//margin:10px auto 20px auto;
				//width:25%;
				@include sm {
					//width:60%;
				}
				@include md {
					margin-top:20%;
					max-width:80%;
					height:auto;
				}
			}
		}
		.meet-text {
			//border:1px solid #FF00FF;
			height:10%;
			padding:7px 0;
			text-align:center;
			font-size:.7em;
			font-family:'Monocle-Bold', sans-serif;
			color:$lightGray;
			background-color:$turquoise;
			&:after {
				bottom: 100%;
				left: 50%;
				border: solid transparent;
				content: " ";
				height: 0;
				width: 0;
				position: absolute;
				pointer-events: none;
				border-color: rgba(136, 183, 213, 0);
				border-bottom-color: $turquoise;
				border-width: 10px;
				margin-left: -10px;
			}
		}
	} //end .meet-button

	.rabbits {
		background-color:$turquoise;
		padding-bottom:50px;
		min-height:600px;

		.team-heading {
			width:130px;

			margin-top:20px;

			@include sm {
				margin:150px auto 35px auto;
			}

			color:$lightGray;
			text-transform:uppercase;
			font-family:'Monocle-Bold', sans-serif;
			font-size:1.5em;
			.line-piece {
				width:25px;
				height:3px;
				background-color:$lightGray;
				margin-top:10px;
			}
		}


		h3 {
			color:$darkBlue;
			text-transform:uppercase;
			font-family:'Monocle-Bold', sans-serif;
			margin-bottom:10px;
		}
		.dna {
			@include sm {
				display:block;
			}
			.dna-list {
				text-transform:uppercase;
				font-family:'Monocle-Light', sans-serif;
				color:$lightDarkBlue;
				font-size:.8em;
				li {
					margin-bottom:5px;
				}
			}
		}



		.employee {
			margin-top:15px;
			margin-bottom:15px;
			@include sm {
				margin:0;
			}
			p {
				font-family: 'Source Sans Pro', sans-serif;
				color:$darkBlue;
				font-size:$copySize;
				line-height:1.4em;
			}
		}
	}


}