html,body {
	height:100%;
	background-color:$lightGray;
}
* {
	box-sizing:border-box;
}
.container-fluid {
	height:100%;
}
.content {
	height:100%;
}

/**
 _                     _ _
| |                   | (_)
| |__  _____ _____  __| |_ ____   ____
|  _ \| ___ (____ |/ _  | |  _ \ / _  |
| | | | ____/ ___ ( (_| | | | | ( (_| |
|_| |_|_____)_____|\____|_|_| |_|\___ |
                                (_____|
**/
.heading {
	height:70%;

	@include sm {
		height:100%;
	}

	background-color:$darkBlue;
	font-family: 'Source Sans Pro', sans-serif;
	font-weight:300;
	color:$lightDarkBlue;

	line-height:1.2em;
	@include md {
		line-height:1.5em;
	}

	.heading-content {
		height:100%;
	}

	.logo-text {
		position:relative;
		height:30%;

		.logo {
			position:relative;
			margin:10% auto 0 auto;
			min-height:50%;
			img {
				margin:0 auto;
				width:75%;
				position:absolute;
				margin-left:auto;
				margin-right:auto;
				left:0;
				right:0;
				z-index:1;
			}
			ul {
				position:absolute;
				z-index:2;
				bottom:0;
				right:5%;

				li {
					height:20px;
					padding:0;
					span {
						height:20px;
						padding:2px;
						font-family:'Monocle-Regular', sans-serif;
						background-color:$lightDarkBlue;
						color:$darkBlue;
						text-transform:uppercase;

						font-size:.7em;
						@include lg {
							font-size:1em;
						}

					}
				}
			}
		}
	} //end .logo-text

	.explain {
		margin-top:10px;
		height:40%;
		position:relative;
		p.explain-line-1 {
			font-weight:600;
			font-size:1.1em;
			a {
				color:$lightGray;
			}
		}
		p.explain-line-2 {
			font-size:$copySize;
		}
	}


	.method-button {
		height:30%;
		.button {
			font-family:'Monocle-Bold', sans-serif;
			text-align:center;
			border:3px solid $turquoise;
			color:$turquoise;
			padding:10px 0;
		}
	}

}

/**
             _
            (_)
 ____  _____ _ ____
|    \(____ | |  _ \
| | | / ___ | | | | |
|_|_|_\_____|_|_| |_|

**/
.main {
	min-height:100%;

	@include md {
		height:100%;
		overflow:hidden;
	}

	.main-content {
		height:100%;
	}

	h1 {
		font-family:'Monocle-Bold', sans-serif;
		color:$lightDarkBlue;

		letter-spacing:.05em;
		line-height:1.6em;
		height:40%;


		padding-top:10%;
		@include lg {
			padding-top:5%;
		}

		font-size:1.5em;
		@include md {
			font-size:2em;
		}
		@include lg {
			font-size:2.5em;
		}

	}

	.properties {
		height:40%;
		li {
			padding:0 15px 0 0;
			dl {
				dt {
					font-family:'Monocle-Bold', sans-serif;
					color:$darkBlue;
				}
				dd {
					margin-top:10px;
					font-family: 'Source Sans Pro', sans-serif;
					font-weight:300;
					color:$lightDarkBlue;
					font-size:.8em;
					line-height:1.3em;
					@include lg {
						line-height:1.5em;
					}
				}
			}
		}
	} //end properties

	.footer {
		height:25%;
		border:1px solid #0000FF;
		font-size:.8em;
		display:table;

		.contact {
			display: table-cell;
			vertical-align: middle;
			font-family: 'Source Sans Pro', sans-serif;
			color:$lightDarkBlue;
			h2 {
				font-weight:600;
				font-size:1em;
			}
			a.email {
				color:$turquoise;
				text-decoration:none;
			}
			.line-piece {
				width:35px;
				height:4px;
				background-color:$darkBlue;
			}
		}
	}

	.meet-button {
		.meet-logo {
			height:80%;
			img {
				margin:0 auto;
				width:60%;
			}
		}
		.meet-text {
			height:20%;
			padding:7px 0;
			text-align:center;
			font-size:.7em;
			font-family:'Monocle-Bold', sans-serif;
			color:$lightGray;
			background-color:$turquoise;
			&:after {
				bottom: 100%;
				left: 50%;
				border: solid transparent;
				content: " ";
				height: 0;
				width: 0;
				position: absolute;
				pointer-events: none;
				border-color: rgba(136, 183, 213, 0);
				border-bottom-color: $turquoise;
				border-width: 10px;
				margin-left: -10px;
			}
		}
	} //end .meet-button

	.rabbits {
		background-color:$turquoise;
		h2 {
			color:$lightGray;
			text-transform:uppercase;
			font-family:'Monocle-Bold', sans-serif;
		}

		h3 {
			color:$darkBlue;
			text-transform:uppercase;
			font-family:'Monocle-Bold', sans-serif;
		}
		.dna {
			display:none;
			@include sm {
				display:block;
			}
			.dna-list {
				text-transform:uppercase;
				font-family:'Monocle-Bold', sans-serif;
				color:$lightDarkBlue;
			}
		}



		.employee {

			p {
				font-family: 'Source Sans Pro', sans-serif;
				color:$darkBlue;
				font-size:.9em;
			}
		}
	}


}